html {
  font-family: sans-serif;
}

body {
  background: #336cc7;
}

svg {
  background: #336cc7;
  border: 1px solid black;
  width: 1000px;
  height: 1000px;
  display: block;
  margin: 0 auto;
}

svg.zoomed-in .country-flag,
svg .country-name,
svg .city-name,
svg .mountain-name {
  visibility: hidden;
}

svg [data-magnitude] {
  visibility: hidden;
}

svg [data-magnitude='0'] {
  visibility: visible;
}

svg.zoomed-in [data-magnitude] {
  visibility: visible;
}

svg.zoomed-in .country-name,
svg.zoomed-in .city-name,
svg.zoomed-in .mountain-name {
  visibility: visible;
}

.sphere_stroke {
  fill: none;
  stroke: black; 
  stroke-width: 0px;
  vector-effect: non-scaling-stroke;
}

.sphere_fill {
  fill: #336cc7;
}

.graticule {
  fill: none;
  stroke: #4a4a4a;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
}

.country {
  fill: #DDD;
  stroke: #c1c1c1;
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
}

.country:hover {
  fill: #CCC;
}

.country-name {
  font-size: 15px;
  font-weight: bold;
}

.city {
  fill: none;
  stroke: #fd990f;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.mountain {
  fill: #000;
  stroke: #000;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.lake,
.river {
  fill: #336cc7;
  stroke: #336cc7;
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
}

.label {
  font-family: sans-serif;
  font-size: 12.5px;
  pointer-events: none;
  text-anchor: middle;
}

.sea-name {
  fill: #243d58;
  font-style: italic;
  font-weight: bold;
}

.label.no_iso_code {
  font-style: italic;
}

.info-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background: rgba(51, 108, 199, 0.56);
  text-align: center;
  color: #fbfbfb;
}

#current-pos {
  font-weight: bold;
}